<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %} 
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <form method="post" action="{% url 'login_view' %}" class="login-form">
      {% csrf_token %}
      <h2>Login</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
